<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
<meta name="generator" content="http://www.movabletype.org/" />

<title><$MTBlogName encode_html="1"$>: <$MTArchiveTitle$> Archives</title>

<link rel="stylesheet" href="<$MTBlogURL$>styles-site.css" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="<$MTBlogURL$>index.rdf" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="<$MTBlogURL$>atom.xml" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70087601-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>

<div id="container">
<div id="banner">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><a href="<$MTBlogURL$>" accesskey="1"><img src="/images/hillMole.gif" alt="Hill Mole" border="0"></a></td>
    </tr>
  </table>
</div>


<div class="content">
<MTEntries>
<$MTEntryTrackbackData$>

<h3 id="a<$MTEntryID pad="1"$>"><a href="<$MTEntryPermalink valid_html="1"$>"><$MTEntryTitle$></a></h3>

<$MTEntryBody$>

<MTEntryIfExtended>
<$MTEntryMore$>
</MTEntryIfExtended>

<p class="posted"><a href="<$MTEntryPermalink valid_html="1"$>">Permalink</a></p>

</MTEntries>
</div>
</div>

</body>
</html>
