<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
<meta name="generator" content="http://www.movabletype.org/" />

<title><$MTBlogName encode_html="1"$>: Comment Submission Error</title>
<link rel="stylesheet" href="<$MTBlogURL$>styles-site.css" type="text/css" />

<MTInclude module="Remember Me">
</head>

<body>

<div id="container">

<div id="banner">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><a href="<$MTBlogURL$>" accesskey="1"><img src="/images/hillMole.gif" alt="Hill Mole" border="0"></a></td>
    </tr>
  </table>
</div>


<div class="content">

<h2>Comment Submission Error</h2>

<p>Your comment submission failed for the following reasons:</p>

<blockquote><strong><$MTErrorMessage$></strong></blockquote>

<MTIfCommentsAllowed>

<MTCommentFields preview="1" static="1">

</MTIfCommentsAllowed>

</div>
</div>

</body>
</html>