<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
<meta name="generator" content="http://www.movabletype.org/" />

<title><$MTBlogName encode_html="1"$>: Comment on <$MTEntryTitle$></title>

<link rel="stylesheet" href="<$MTBlogURL$>styles-site.css" type="text/css" />
<MTInclude module="Remember Me">
</head>

<body>

<div id="banner">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><a href="<$MTBlogURL$>" accesskey="1"><img src="/images/hillMole.gif" alt="Hill Mole" border="0"></a></td>
    </tr>
  </table>
</div>

<div class="content">

<$MTErrorMessage$>

<h2>Comments: <$MTEntryTitle$></h2>

<MTComments>
<$MTCommentBody$>
<p class="posted">Posted by <$MTCommentAuthorLink default_name="Anonymous" spam_protect="1"$> at <$MTCommentDate$></p>
</MTComments>

<MTEntryIfCommentsOpen>

<MTIfCommentsAllowed>

<h2>Post a comment</h2>

<MTCommentFields>

</MTIfCommentsAllowed>

</MTEntryIfCommentsOpen>

</div>

</body>
</html>