<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
<meta name="generator" content="http://www.movabletype.org/" />

<title><$MTBlogName encode_html="1"$>: <$MTEntryTitle$></title>

<link rel="stylesheet" href="<$MTBlogURL$>styles-site.css" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="<$MTBlogURL$>index.rdf" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="<$MTBlogURL$>atom.xml" />

<link rel="start" href="<$MTBlogURL$>" title="Home" />
<MTEntryPrevious>
<link rel="prev" href="<$MTEntryPermalink$>" title="<$MTEntryTitle encode_html="1"$>" />
</MTEntryPrevious>
<MTEntryNext>
<link rel="next" href="<$MTEntryPermalink$>" title="<$MTEntryTitle encode_html="1"$>" />
</MTEntryNext>
<MTInclude module="Remember Me">

<$MTEntryTrackbackData$>

<MTBlogIfCCLicense>
<$MTCCLicenseRDF$>
</MTBlogIfCCLicense>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70087601-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>

<div id="container">

<div id="banner">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><a href="<$MTBlogURL$>" accesskey="1"><img src="/images/hillMole.gif" alt="Hill Mole" border="0"></a></td>
    </tr>
  </table>
</div>


<div class="content">

<center><p>
<MTEntryPrevious>
<a href="<$MTEntryPermalink$>">&laquo; <$MTEntryTitle$></a> |
</MTEntryPrevious>
<a href="<$MTBlogURL$>">Main</a>
<MTEntryNext>
| <a href="<$MTEntryPermalink$>"><$MTEntryTitle$> &raquo;</a>
</MTEntryNext>
</p></center>

<h3><a href="<$MTEntryPermalink valid_html="1"$>"><$MTEntryTitle$></a></h3>

<$MTEntryBody$>

<div id="a<$MTEntryID pad="1"$>more"><div id="more">
<$MTEntryMore$>
</div></div>

<center><p>
<MTEntryPrevious>
<a href="<$MTEntryPermalink$>">&laquo; Previous</a> |
</MTEntryPrevious>
<a href="http://www.hillmole.com/archives/2005/05/i_was_merely_a.html">Beginning</a>
<MTEntryNext>
| <a href="<$MTEntryPermalink$>">Next &raquo;</a>
</MTEntryNext>
</p></center>
</div>
</div>

</body>
</html>