<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172217257-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172217257-1');
</script>
<link rel="canonical" href="https://hillmole.com" />
<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
<meta name="generator" content="http://www.movabletype.org/" />

<title><$MTBlogName encode_html="1"$></title>

<link rel="stylesheet" href="<$MTBlogURL$>styles-site.css" type="text/css" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="<$MTBlogURL$>atom.xml" />
<link rel="alternate" type="application/rss+xml" title="RSS 1.0" href="<$MTBlogURL$>index.rdf" />
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="<$MTBlogURL$>index.xml" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="<$MTBlogURL$>rsd.xml" />

<MTBlogIfCCLicense>
<$MTCCLicenseRDF$>
</MTBlogIfCCLicense>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-70087601-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-70087601-1');
</script>

</head>

<body>

<div id="container">
<div id="banner">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><a href="<$MTBlogURL$>" accesskey="1"><img src="/images/hillMole.gif" alt="Hill Mole" border="0"></a></td>
    </tr>
  </table>
</div>


<div id="center">
<div class="content">

<MTEntries>
<$MTEntryTrackbackData$>

<h3 id="a<$MTEntryID pad="1"$>"><a href="<$MTEntryPermalink valid_html="1"$>"><$MTEntryTitle$></a></h3>

<$MTEntryBody$>

<MTEntryIfExtended>
<p class="extended"><a href="<$MTEntryPermalink$>#more">Continue reading "<$MTEntryTitle$>"</a></p>
</MTEntryIfExtended>

<center><p>
<MTEntryPrevious>
<a href="<$MTEntryPermalink$>">&laquo; <$MTEntryTitle$></a> |
</MTEntryPrevious>
<a href="<$MTBlogURL$>">Main</a>
<MTEntryNext>
| <a href="<$MTEntryPermalink$>"><$MTEntryTitle$> &raquo;</a>
</MTEntryNext>
</p></center>

</MTEntries>

</div>
</div>
<div id="right">
<div class="sidebar">
<div class="link-note">
<form method="get" action="<$MTCGIPath$><$MTSearchScript$>"><input type="hidden" name="IncludeBlogs" value="<$MTBlogID$>" /><input id="search" name="search" size="20" /></form><a href="<$MTBlogURL$>index.rdf">RSS</a> <a href="<$MTBlogURL$>index.rdf">RSS2</a> <a href="<$MTBlogURL$>index.rdf">ATOM</a><p>Start at the very <a href="http://www.hillmole.com/archives/2005/05/i_was_merely_a.html">beginning</a><br />a very good place to start.</p><p>The creature in the banner is a <a href="http://www.hillmole.com/archives/2005/08/star-nosed_mole.html">star-nosed mole</a>.<center>
<a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=201114220"><img src="hillMoleiTunes.gif" alt="Hill Mole Podcast via iTunes" width="160" height="160" border="0"></a></div>
</div>

</div>

<div style="clear: both;">&#160;</div>

</div>
</body>
</html>